_*_local
/_vim/.netrwhist
/_vim/fzf
/_vim/plugged
/_vim/vimrc_local
/_vim/vimrc_plugins_local

/_vim/autoload/plug.*
/_vim/spell/*.spl

/_zomg/vendor/

/_config/*
!/_config/bat/
!/_config/dtags/
!/_config/fish/
!/_config/git/
!/_config/nvim/
/_config/nvim/plugged/
